.footer {
  margin-top: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
  background: rgba(2, 51, 2, 0.781);
  color: white;
  font-size: 10px;
}
.footcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15vw;
}
